body{
    margin:0;
   padding-top: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: aqua;
    
}

#welcome{

    position:absolute;
    border-bottom-color:aqua;
    bottom:0;
    background:aquamarine;
    width: 100%;
    height:100%;
}

h1{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    color: black;

}

#name{
    font-size: small;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    color: black;

}

h2{
    font-size: smaller;
    font-family:  'Kanit', sans-serif;
    font-weight: 100;
    color: rgb(250, 210, 150);
  
}

#bio{
font-size: smaller;
font-family:  'Kanit', sans-serif;
font-weight: 100;
color: rgb(250, 210, 150);
padding: 100px;
}

.line{
    height: 6px;
    background-color: grey;
    width: 70px;
    margin: 8px auto;

}

.parallax-inner{display:table-cell;
    vertical-align: middle;

}

.menu{
    list-style:none;
    position:fixed;
    background:blanchedalmond;
    top: 0px;
    width: 100%;
    margin-top: 0px;

    z-index:10;
    cursor: pointer;

    
}

.links{
   padding-left: 33px;
   padding-right: 25px;
    display: inline;
    font-family: goth;
    font-size: medium;

}
.links:hover{
    font-size:  25px;
    text-decoration: underline;
}


a{
    text-decoration: none;
}

.contact_1 h3{
    display: inline;

}
#contact{ 
    background-color: aqua;
}

ul{
    list-style:none;
    position:fixed;
    background:aquamarine;
    top: 0px;
    width: 100%;
    margin-top: 0px;

    z-index:10;
    cursor: pointer;
}

.student_lives
{
    padding-bottom: 250px;
}


.newspaper
{

    padding: bottom 300px;

}

